/* .dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
} */

/* Style for Hackathon Cards */
.hackathon-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

.hackathon-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
}

.hackathon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Hackathon Image Section */
.hackathon-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 10px;
}

.hackathon-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Text and Details Styling */
.hackathon-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

.hackathon-card p {
    font-size: 1rem;
    color: #666;
    margin: 0;
}
