/* Global styles for the dashboard */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  /* Optional styles for the Hackathon Button */
  button {
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333; /* Dark color for text */
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  h3:first-of-type {
    color: #4A90E2; /* A different color for the first h3 (Ongoing Hackathons) */
  }
  
  h3:nth-of-type(2) {
    color: #357ABD; /* A different color for the second h3 (Previous Hackathons) */
  }
  